@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.container {
  @include container;
  display: flex;
  align-items: center;
  margin-top: 4.6rem;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5rem;
  }

  .section-carousel {
    width: 80%;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  .section-prices {
    width: 30%;
    margin-left: 1rem;

    @media (max-width: 1024px) {
      display: flex;
      width: 50%;
      margin-left: 0;
    }

    .img {
      width: 100%;
    }

    .section-button {
      margin-top: 1rem;
      margin-left: 2rem;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}
