.container {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 500px;
  display: flex;
  align-items: center;
  padding: 5rem;
  position: relative;
  overflow: hidden;
  background-position: top;
  @media (max-width: 768px) {
    height: auto;
    padding: 7rem 2em;
  }
}

.content {
  max-width: 40%;
  color: white;
  z-index: 1;
  @media (max-width: 924px) {
    max-width: 100%;
  }
  h2 {
    font-size: 50px;

    font-weight: 600;
    line-height: 50px;
    margin-bottom: 1rem;

    @media (max-width: 768px) {
      font-size: 35px;
      line-height: 35px;
    }
  }

  p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.button {
  background-color: #d67f2a;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: #b8651e;
  }
}
