@import '../../styles/themes/light.scss';
@import '../../styles/themes/mixins.scss';

.container {
  @include container(1280px, 5.5rem auto 5.5rem auto);
  @include display-flex;

  @media (max-width: 980px) {
    flex-direction: column;
    margin: 3rem auto;
    gap: 1rem;
  }
  .image-section {
    position: relative;
    width: 100%;
    .img {
      width: 100%;
      object-fit: cover;
      position: relative;
      height: 450px;
      border-radius: 15px;
    }
  }
  .text-section {
    width: 100%;
    .title {
      color: $color-secondary;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px;
      margin: 0 0 1rem 0;
      @media (max-width: 980px) {
        font-size: 30px;
        line-height: 30px;
        font-weight: 600;
        text-align: center;
      }
    }
    .paragraph {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $color-grayMedium;
    }

    .sectionBtn {
      a {
        margin-right: 1rem;
      }
    }
  }
}
