@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.btn {
  font-family: $font-default;
  font-weight: $weight-medium;
  margin-bottom: 1rem;
  padding: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.iconLeft {
  display: inline-flex;
  align-items: center;
}

.btn1 {
  color: $color-snow;
  font-weight: 400;
  border-radius: 10px;
  background-color: $color-primary;
  line-height: 15px;
  font-size: 15px;
  padding: 0.8rem 1.6rem;
}

.btn2 {
  color: $color-snow;
  font-weight: 400;
  border-radius: 3px;
  background-color: $color-primary;
  line-height: 15px;
  font-size: 15px;
  padding: 0.8rem 0;
  margin-top: 1rem;
}

.btn3 {
}

.btn4 {
  color: $color-snow;
  font-weight: 400;
  border-radius: 3px;
  background-color: $color-primary;
  line-height: 15px;
  margin-top: 0.275rem;
  margin-bottom: 0.275rem;
  font-size: 15px;
  padding: 0.8rem 0;
}

.btn5 {
  color: $color-snow;
  font-weight: 400;
  border-radius: 3px;
  background-color: $color-success; // verde para CTA principal
  line-height: 15px;
  font-size: 15px;
  padding: 0.8rem 0;
}
