@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.heroContainer {
  @include container(1280px, 0rem auto 0 auto);
  padding-top: 1rem;
  @include display-flex;
  position: relative;
}

.heroImage {
  width: 100%;
  height: 370px;
  display: block;
  object-fit: cover;
  border-radius: 15px;
  background-position: top;
  @media (max-width: 924px) {
    height: 240px;
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 80%;
}

.heroText {
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  @media (max-width: 924px) {
    font-size: 35px;
    line-height: 35px;
  }
}
