@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.anomecarua {
  @include container;
  display: flex;
  justify-content: center;
  background-color: $color-snow;
  margin-bottom: 3rem;

  .benefitsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    width: 100%;
    text-align: center;
  }

  .benefitItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    img {
      width: 90px;
      height: 90px;
      @media (max-width: 640px) {
        width: 110px;
        height: 110px;
      }
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      color: $color-secondary;
      line-height: 24px;
    }

    p {
      text-align: center;
      font-weight: 400;
      font-size: 15px;
      line-height: 23px;
      color: $color-grayMedium;
    }
  }
}
