@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.container {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.swiperSlide {
  width: 100%;
  position: relative;

  .img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    position: relative;
    border-radius: 15px;

    @media (max-width: 1024px) {
      object-fit: cover;
      height: 300px;
      width: 100%;
    }
  }
}
