@import '../../../styles/themes/light.scss';
@import '../../../styles/themes/mixins.scss';

.accordion {
  @include container(1280px, 2rem auto 4rem auto);
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  /* Espaço acima para equilibrar com o Hero */
  margin-top: 1rem;
  overflow: hidden;
}

.accordionItem {
  border-bottom: 1px solid #e1e4e8;

  &:last-child {
    border-bottom: none;
  }
}

.accordionHeader {
  @include hover;
  width: 100%;
  font-weight: 600;
  padding: 1rem 1rem;
  color: $color-secondary;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  text-align: left;
  &:hover {
    color: $color-primary;
  }
}
