$color-primary: #f26c24;
$color-secondary: rgb(18, 86, 122);
$color-snow: rgb(255, 255, 255);
$color-grayMedium: rgb(122, 122, 122);
$color-darkHigh: #0a0909;
$color-grayLight: #f3f4f9;
$color-error: #e53935;
$color-success: #00af7d;
//f44336
$font-small: 0.9rem;
$font-default: 1.2rem;
$font-medium: 2rem;
$font-large: 3rem;

$weight-light: 400;
$weight-default: 500;
$weight-medium: 600;
$weight-bold: 700;

$transition-default: all 0.3s ease;

$radii-small: 0.6rem;
$radii-default: 0.9rem;
$radii-large: 1.5rem;
